*{
    margin: 0;
}
#NavContainer{
    background-color: rgb(3, 8, 10);
    height: 70px;
    display: flex;
    flex-direction: row;
}
.leftItems{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightItems{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
a,h2{
    color: white;
    margin-right: 30px;
}
#profileContainer{
    margin: 80px 20px;
    display: flex;
}
.leftItemprofile img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 50px;
}
.leftItemprofile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.rightItemprofile{
    margin-top: 40px;
    width: 60%;
}
#sectionContainer{
    display: flex;
  padding: 55px 0px;

}
.item{
    width: 25%;
    /* margin: 30px; */
}
.item h3{
    text-align: center;
}
.item img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 65px; 
}
#footerContainer{
    background-color:rgb(37, 27, 27); ;
    height: 150px;
    color: white;
    text-align: center;
    padding:60px 40px;
}
