.footer{
    background-color:rgb(16, 178, 178)  ;
    width: 100%;
    height: 200px;
    padding: 10px 30px;
    margin: 0px auto;
  
}
.footerLink{
    display: flex;
    justify-content: center;
    padding: 20px;
}